In [24]:
from itertools import islice
from youtube_comment_downloader import *
data={'comment':[]}
def getcomments(link):
    downloader = YoutubeCommentDownloader()
    comments = downloader.get_comments_from_url(link, sort_by=SORT_BY_POPULAR)
    for comment in islice(comments, 10000):
        data['comment'].append(comment["text"])

In [25]:
# getcomments("https://www.youtube.com/watch?v=-ETQ97mXXF0")
# getcomments("https://www.youtube.com/watch?v=ua-CiDNNj30")
# getcomments("https://www.youtube.com/watch?v=LHBE6Q9XlzI")

In [26]:
getcomments("https://www.youtube.com/watch?v=kqtD5dpn9C8")
getcomments("https://www.youtube.com/watch?v=XKHEtdqhLK8")

In [27]:
# getcomments("https://www.youtube.com/watch?v=rfscVS0vtbw")

# getcomments("https://www.youtube.com/watch?v=WGJJIrtnfpk")
# getcomments("https://www.youtube.com/watch?v=nLRL_NcnK-4")
# getcomments("https://www.youtube.com/watch?v=rfscVS0vtbw")

In [28]:
len(data["comment"])

7214

In [32]:
import pandas as pd
df = pd.DataFrame(data, columns=['comment'])

In [33]:
df.head()

                                             comment
0  üî• Want to master Python? Get my complete Pytho...
1  I'm learning because i want a better job than ...
2  Thanks Mosh! ‚ù§ After struggling for 1 year wit...
3  0:00:00 Introduction \r\n0:00:30 What You Can ...
4  Ik he won‚Äôt see this, but this was such a clea...

In [34]:
df.describe()

                                                  comment
count                                                7214
unique                                               6962
top     Can you please advise how do i access the code...
freq                                                   18

In [35]:
df.drop_duplicates(inplace=True)

In [36]:
df.describe()

                                                  comment
count                                                6962
unique                                               6962
top     üî• Want to master Python? Get my complete Pytho...
freq                                                    1

In [37]:
df.to_csv("final_dataset")

In [6]:
# import nltk
# nltk.download('vader_lexicon')
# from nltk.sentiment.vader import SentimentIntensityAnalyzer
# sid = SentimentIntensityAnalyzer()

In [7]:
# sid.polarity_scores("happy")